<html>
<h1>Cadastro de clientes</h1>

<a href="#clientelist"> Lista de clientes
	<img alt="Editar" src="resources/img/list-icon.png">
</a>
<br>
<br>

<div class="col-lg-11 col-md-8" ng-init="carregarEstados();">
	<div class="card">
		<div class="header">
			<h4 class="title">Novo cliente</h4>
		</div>
		<div class="content">
			<form id="formCliente" ng-submit="salvarCliente();">
				<div class="row">
					<div class="col-md-3">
						<div class="form-group">
							<label>Código</label> <input type="text" ng-model="cliente.id"
								class="form-control border-input" disabled>
						</div>
					</div>
				</div>
				
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<label>Nome</label> <input type="text" ng-model="cliente.nome"
								class="form-control border-input" placeholder="Nome completo"
								required="required">
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label for="endereco">Endereço</label> <input
								type="text" ng-model="cliente.endereco"
								class="form-control border-input"
								placeholder="Endereço" required="required">
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<label>Telefone</label>
							<input type="text"
								id="telefone" 
								ng-model="cliente.telefone"
								class="form-control border-input" 
								placeholder="(99) 99999-9999"
								required="required">
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label>E-mail</label> <input type="email" ng-model="cliente.email"
								class="form-control border-input" 
								placeholder="E-mail" required="required">
						</div>
					</div>
				</div>
				
				<div class="row">
					<div class="col-md-3">
						<div class="form-group">
							<label>Sexo</label>
							<select ng-model="cliente.sexo" class="form-control border-input">
								<option value="Masculino">Masculino</option>
								<option value="Feminino">Feminino</option>
							</select>
						</div>
					</div>
					<div class="col-md-1">
						<div class="form-group">
							<label>Ativo</label>
							<input type="checkbox" class="form-control border-input" ng-model="cliente.ativo">
						</div>
					</div>
					<div class="col-md-3">
						<div class="form-group"> 
						   <label>Estado</label> 
							<select ng-model="cliente.estados.id"
								 id="selectEstados"
								  class="form-control" onchange="javascript:carregarCidadesChrome(this);"> 
								  <option value="">Selecione</option> 
								  <option
								  	ng-repeat="est in dataEstados"  
								  	ng-click="carregarCidades(est)"
								  	value="{{est.id}}">{{est.sigla}}
								  </option>
							</select>	
						</div>
					</div>
					<div class="col-md-5">
						<div class="form-group"> 
						   <label>Cidades</label> 
							<select id="selectCidades" ng-model="cliente.cidades.id" 
							class="form-control"> 
							<option value="">Selecione</option>
							  <option
								  ng-repeat="cid in cidades"
								  value="{{cid.id}}">{{cid.nome}}
							  </option>
							</select>	
						</div>
					</div>
				</div>
				
				<div class="row">
					<div class="col-md-4">
						<div class="form-group">
							<label>Programação</label>
							<input type="radio" class="form-control border-input" name="interesse" 
								ng-model="cliente.interesse" value="programacao" ng-checked="true">
						</div>
					</div>
					<div class="col-md-4">
						<div class="form-group">
							<label>Banco de Dados</label>
							<input type="radio" class="form-control border-input" name="interesse" 
								ng-model="cliente.interesse" value="banco">
						</div>
					</div>
					<div class="col-md-4">
						<div class="form-group">
							<label>Segurança da Informação</label>
							<input type="radio" class="form-control border-input" name="interesse" 
								ng-model="cliente.interesse" value="seguranca">
						</div>
					</div>
				</div>
				
				<div class="text-center">
					<button type="submit" class="btn btn-info btn-fill btn-wd">Cadastrar</button>
					<button type="submit" class="btn btn-info btn-fill btn-wd"
						ng-click="$scope.cliente={}">Limpar</button>
				</div>
			</form>
		</div>
	</div>
</div>
<!-- carrega as máscaras -->
<script type="text/javascript">
	$('#telefone').mask('(99) 99999-9999');
</script>
</html>