<html>
<h1>Cadastro de Fornecedor</h1>

<a href="#fornecedorlist"> Lista de fornecedor
	<img alt="Editar" src="resources/img/list-icon.png">
</a>
<br>
<br>

<div class="col-lg-11 col-md-8" ng-init="carregarEstados();">
	<div class="card">
		<div class="header">
			<h4 class="title">Novo fornecedor</h4>
		</div>
		<div class="content">
			<form id="formFornecedor" ng-submit="salvarFornecedor();">
				<div class="row">
					<div class="col-md-3">
						<div class="form-group">
							<label>Código</label>
							<input type="text" ng-model="fornecedor.id"
								class="form-control border-input" disabled>
						</div>
					</div>
					<div class="col-md-4">
						<div class="form-group">
							<img alt="Foto" id="imagemFornecedor" src="" style="width: 118px; height: 140px; border: 0">
							<input type="file" id="file" onchange="javascript:visualizarImg();">
						</div>
					</div>
				</div>
				
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<label>Razação Social</label> <input type="text" ng-model="fornecedor.razaoSocial"
								class="form-control border-input" placeholder="Razão Social"
								required="required">
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label for="endereco">Nome Fantasia</label>
								<input type="text" ng-model="fornecedor.nomeFantasia"
								class="form-control border-input"
								placeholder="Nome Fantasia" required="required">
						</div>
					</div>
				</div>
				
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<label>CNPJ</label>
							<input type="text"
								id="cnpj"
								ng-model="fornecedor.cnpj"
								class="form-control border-input"
								placeholder="99.999.999/9999-99"
								required="required">
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label for="endereco">Endereço</label>
								<input type="text" ng-model="fornecedor.endereco"
								class="form-control border-input"
								placeholder="Ex: Rua Presidente Vargas, 999" required="required">
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<label>Telefone</label>
							<input type="text"
								id="telefone" 
								ng-model="fornecedor.telefone"
								class="form-control border-input" 
								placeholder="(99) 99999-9999"
								required="required">
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label>E-mail</label>
							<input type="email"
								ng-model="fornecedor.email"
								class="form-control border-input" 
								placeholder="exemplo@teste.com"
								required="required">
						</div>
					</div>
				</div>
				
				<div class="row">
					<div class="col-md-3">
						<div class="form-group">
							<label>Inscrição Estadual</label>
							<input type="inscricaoEstadual"
								ng-model="fornecedor.inscricaoEstadual"
								class="form-control border-input" 
								placeholder="Somente números">
						</div>
					</div>
					<div class="col-md-1">
						<div class="form-group">
							<label>Ativo</label>
							<input type="checkbox" class="form-control border-input" ng-model="fornecedor.ativo">
						</div>
					</div>
					<div class="col-md-3">
						<div class="form-group"> 
						   <label>Estado</label> 
							<select ng-model="fornecedor.estados.id"
								 id="selectEstados"
								  class="form-control" onchange="javascript:carregarCidadesChrome(this);"> 
								  <option value="">Selecione</option> 
								  <option
								  	ng-repeat="est in dataEstados"  
								  	ng-click="carregarCidades(est)"
								  	value="{{est.id}}">{{est.nome}}
								  </option>
							</select>	
						</div>
					</div>
					<div class="col-md-5">
						<div class="form-group"> 
						   <label>Cidades</label> 
							<select id="selectCidades" ng-model="fornecedor.cidades.id" 
							class="form-control"> 
							<option value="">Selecione</option>
							  <option
								  ng-repeat="cid in cidades"
								  value="{{cid.id}}">{{cid.nome}}
							  </option>
							</select>	
						</div>
					</div>
				</div>
				
				<div class="text-center">
					<button type="submit" class="btn btn-info btn-fill btn-wd">Cadastrar</button>
					<button type="submit" class="btn btn-info btn-fill btn-wd"
						ng-click="$scope.fornecedor={}">Limpar
					</button>
				</div>
			</form>
		</div>
	</div>
</div>
<!-- carrega as máscaras -->
<script type="text/javascript">
	$('#telefone').mask('(99) 99999-9999');
	$('#cnpj').mask('99.999.999/9999-99');
</script>
</html>